.signin {
  text-align: center;
  &__back {
    text-align: end;
    position: absolute;
    top: 5vh;
    right: 5vw;
  }
  &__form {
    position: absolute;
    top: 25vh;
    left: 43vw;
    text-align: center;
  }
  &__button {
    padding-top: 5vh;
  }
  &__password {
    margin-top: 3vh;
  }
}
